*.o
*.lo
*.la
.deps/
.libs/

Makefile
Makefile.in

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp

doc/doxyfile

include/config.h
include/config.h.in
include/stamp-h1
install-sh
libtool
log
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pocketsphinx.pc
py-compile
src/programs/pocketsphinx_batch
src/programs/pocketsphinx_continuous
src/programs/pocketsphinx_mdef_convert
swig/python/pocketsphinx.py
swig/python/pocketsphinx_wrap.c
test-driver
test/testfuncs.sh

