build/
*~
.vscode/settings.json
*.egg-info
_skbuild
dist
MANIFEST
__pycache__
jsbuild
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
DartConfiguration.tcl
cmake_install.cmake
venv/
.tox
Makefile
config.h
include/pocketsphinx/sphinx_config.h
pocketsphinx.pc
test/testfuncs.sh
test/unit/test_macros.h
