include AUTHORS
include CMakeLists.txt
include LICENSE
include NEWS
include README.md
include build_wheels.sh
include config.h.in
include cython/CMakeLists.txt
include cython/_pocketsphinx.pxd
include cython/_pocketsphinx.pyx
include cython/pocketsphinx5/__init__.py
include cython/pocketsphinx5/segmenter.py
include cython/test/config_test.py
include cython/test/continuous_test.py
include cython/test/decoder_test.py
include cython/test/endpointer_test.py
include cython/test/fsg_test.py
include cython/test/jsgf_test.py
include cython/test/kws_test.py
include cython/test/lattice_test.py
include cython/test/lm_test.py
include cython/test/logmath_test.py
include cython/test/phoneme_test.py
include cython/test/vad_test.py
include cython/vad_example.py
include docs/Makefile
include docs/gen_config.py
include docs/make.bat
include docs/requirements.txt
include docs/source/conf.py
include docs/source/config_params.rst
include docs/source/index.rst
include docs/source/pocketsphinx5.rst
include docs/source/readme.rst
include doxygen/CMakeLists.txt
include doxygen/args2man.pl
include doxygen/pocketsphinx_batch.1
include doxygen/pocketsphinx_batch.1.in
include doxygen/pocketsphinx_continuous.1
include doxygen/pocketsphinx_continuous.1.in
include doxygen/pocketsphinx_mdef_convert.1
include doxygen/sphinx_cepview.1
include doxygen/sphinx_cepview.1.in
include doxygen/sphinx_cont_seg.1
include doxygen/sphinx_cont_seg.1.in
include doxygen/sphinx_fe.1
include doxygen/sphinx_fe.1.in
include doxygen/sphinx_lm_convert.1
include doxygen/sphinx_lm_convert.1.in
include doxygen/sphinx_lm_eval.1
include doxygen/sphinx_lm_eval.1.in
include doxygen/sphinx_lm_sort.1
include doxygen/sphinx_pitch.1
include doxygen/sphinx_pitch.1.in
include examples/README.md
include examples/live.c
include examples/live.py
include examples/segment.py
include examples/simple.c
include examples/simple.py
include examples/vad.c
include examples/vad.py
include include/CMakeLists.txt
include include/pocketsphinx.h
include include/pocketsphinx/endpointer.h
include include/pocketsphinx/export.h
include include/pocketsphinx/lattice.h
include include/pocketsphinx/mllr.h
include include/pocketsphinx/search.h
include include/pocketsphinx/vad.h
include include/sphinxbase/agc.h
include include/sphinxbase/bio.h
include include/sphinxbase/bitarr.h
include include/sphinxbase/bitvec.h
include include/sphinxbase/byteorder.h
include include/sphinxbase/case.h
include include/sphinxbase/ckd_alloc.h
include include/sphinxbase/clapack_lite.h
include include/sphinxbase/cmd_ln.h
include include/sphinxbase/cmn.h
include include/sphinxbase/err.h
include include/sphinxbase/f2c.h
include include/sphinxbase/fe.h
include include/sphinxbase/feat.h
include include/sphinxbase/filename.h
include include/sphinxbase/fixpoint.h
include include/sphinxbase/fsg_model.h
include include/sphinxbase/genrand.h
include include/sphinxbase/glist.h
include include/sphinxbase/hash_table.h
include include/sphinxbase/heap.h
include include/sphinxbase/jsgf.h
include include/sphinxbase/listelem_alloc.h
include include/sphinxbase/logmath.h
include include/sphinxbase/matrix.h
include include/sphinxbase/mmio.h
include include/sphinxbase/ngram_model.h
include include/sphinxbase/pio.h
include include/sphinxbase/prim_type.h
include include/sphinxbase/priority_queue.h
include include/sphinxbase/profile.h
include include/sphinxbase/sphinxbase_export.h
include include/sphinxbase/strfuncs.h
include include/sphinxbase/yin.h
include indent.sh
include model/CMakeLists.txt
include model/en-us/cmudict-en-us.dict
include model/en-us/en-us-phone.lm.bin
include model/en-us/en-us.lm.bin
include model/en-us/en-us/README
include model/en-us/en-us/feat.params
include model/en-us/en-us/mdef
include model/en-us/en-us/means
include model/en-us/en-us/noisedict
include model/en-us/en-us/sendump
include model/en-us/en-us/transition_matrices
include model/en-us/en-us/variances
include pocketsphinx.pc.in
include programs/CMakeLists.txt
include programs/fsg2dot.pl
include programs/pocketsphinx_batch.c
include programs/pocketsphinx_jsgf2fsg.c
include programs/pocketsphinx_lm_convert.c
include programs/pocketsphinx_lm_eval.c
include programs/pocketsphinx_mdef_convert.c
include programs/pocketsphinx_pitch.c
include pyproject.toml
include requirements.dev.txt
include setup.cfg
include setup.py
include sphinx_config.h.in
include src/CMakeLists.txt
include src/acmod.c
include src/acmod.h
include src/allphone_search.c
include src/allphone_search.h
include src/bin_mdef.c
include src/bin_mdef.h
include src/blkarray_list.c
include src/blkarray_list.h
include src/cmdln_macro.h
include src/common_audio/signal_processing/cross_correlation.c
include src/common_audio/signal_processing/division_operations.c
include src/common_audio/signal_processing/downsample_fast.c
include src/common_audio/signal_processing/energy.c
include src/common_audio/signal_processing/get_scaling_square.c
include src/common_audio/signal_processing/include/signal_processing_library.h
include src/common_audio/signal_processing/include/spl_inl.h
include src/common_audio/signal_processing/min_max_operations.c
include src/common_audio/signal_processing/resample.c
include src/common_audio/signal_processing/resample_48khz.c
include src/common_audio/signal_processing/resample_by_2_internal.c
include src/common_audio/signal_processing/resample_by_2_internal.h
include src/common_audio/signal_processing/resample_fractional.c
include src/common_audio/signal_processing/spl_inl.c
include src/common_audio/signal_processing/vector_scaling_operations.c
include src/common_audio/vad/include/webrtc_vad.h
include src/common_audio/vad/vad_core.c
include src/common_audio/vad/vad_core.h
include src/common_audio/vad/vad_filterbank.c
include src/common_audio/vad/vad_filterbank.h
include src/common_audio/vad/vad_gmm.c
include src/common_audio/vad/vad_gmm.h
include src/common_audio/vad/vad_sp.c
include src/common_audio/vad/vad_sp.h
include src/common_audio/vad/webrtc_vad.c
include src/dict.c
include src/dict.h
include src/dict2pid.c
include src/dict2pid.h
include src/fast_ptm.txt
include src/fe/fe_interface.c
include src/fe/fe_internal.h
include src/fe/fe_noise.c
include src/fe/fe_noise.h
include src/fe/fe_sigproc.c
include src/fe/fe_type.h
include src/fe/fe_warp.c
include src/fe/fe_warp.h
include src/fe/fe_warp_affine.c
include src/fe/fe_warp_affine.h
include src/fe/fe_warp_inverse_linear.c
include src/fe/fe_warp_inverse_linear.h
include src/fe/fe_warp_piecewise_linear.c
include src/fe/fe_warp_piecewise_linear.h
include src/fe/fixlog.c
include src/fe/make_log_sub_table.py
include src/fe/make_log_table.py
include src/fe/yin.c
include src/feat/agc.c
include src/feat/cmn.c
include src/feat/cmn_live.c
include src/feat/feat.c
include src/feat/lda.c
include src/fsg_history.c
include src/fsg_history.h
include src/fsg_lextree.c
include src/fsg_lextree.h
include src/fsg_search.c
include src/fsg_search_internal.h
include src/hmm.c
include src/hmm.h
include src/kws_detections.c
include src/kws_detections.h
include src/kws_search.c
include src/kws_search.h
include src/lm/_jsgf_scanner.l
include src/lm/fsg_model.c
include src/lm/jsgf.c
include src/lm/jsgf_internal.h
include src/lm/jsgf_parser.c
include src/lm/jsgf_parser.h
include src/lm/jsgf_parser.y
include src/lm/jsgf_scanner.c
include src/lm/jsgf_scanner.h
include src/lm/lm_trie.c
include src/lm/lm_trie.h
include src/lm/lm_trie_quant.c
include src/lm/lm_trie_quant.h
include src/lm/ngram_model.c
include src/lm/ngram_model_internal.h
include src/lm/ngram_model_set.c
include src/lm/ngram_model_set.h
include src/lm/ngram_model_trie.c
include src/lm/ngram_model_trie.h
include src/lm/ngrams_raw.c
include src/lm/ngrams_raw.h
include src/mdef.c
include src/mdef.h
include src/ms_gauden.c
include src/ms_gauden.h
include src/ms_mgau.c
include src/ms_mgau.h
include src/ms_senone.c
include src/ms_senone.h
include src/ngram_search.c
include src/ngram_search.h
include src/ngram_search_fwdflat.c
include src/ngram_search_fwdflat.h
include src/ngram_search_fwdtree.c
include src/ngram_search_fwdtree.h
include src/phone_loop_search.c
include src/phone_loop_search.h
include src/pocketsphinx.c
include src/pocketsphinx_internal.h
include src/ps_alignment.c
include src/ps_alignment.h
include src/ps_endpointer.c
include src/ps_lattice.c
include src/ps_lattice_internal.h
include src/ps_mllr.c
include src/ps_vad.c
include src/ptm_mgau.c
include src/ptm_mgau.h
include src/rtc_base/checks.h
include src/rtc_base/compile_assert_c.h
include src/rtc_base/sanitizer.h
include src/rtc_base/system/arch.h
include src/rtc_base/typedefs.h
include src/s2_semi_mgau.c
include src/s2_semi_mgau.h
include src/s3types.h
include src/state_align_search.c
include src/state_align_search.h
include src/tied_mgau_common.h
include src/tmat.c
include src/tmat.h
include src/util/README.python
include src/util/bio.c
include src/util/bitarr.c
include src/util/bitvec.c
include src/util/blas_lite.c
include src/util/case.c
include src/util/ckd_alloc.c
include src/util/clapack_scrub.py
include src/util/cmd_ln.c
include src/util/dtoa.c
include src/util/err.c
include src/util/errno.c
include src/util/f2c_lite.c
include src/util/filename.c
include src/util/fortran.py
include src/util/genrand.c
include src/util/glist.c
include src/util/hash_table.c
include src/util/heap.c
include src/util/listelem_alloc.c
include src/util/logmath.c
include src/util/make_lite.py
include src/util/matrix.c
include src/util/mmio.c
include src/util/pio.c
include src/util/priority_queue.c
include src/util/profile.c
include src/util/sbthread.c
include src/util/slamch.c
include src/util/slapack_lite.c
include src/util/strfuncs.c
include src/util/wrapped_routines
include src/vector.c
include src/vector.h
include test/CMakeLists.txt
include test/compare_table.pl
include test/data/an4_ci_cont/feat.params
include test/data/an4_ci_cont/mdef
include test/data/an4_ci_cont/means
include test/data/an4_ci_cont/mixture_weights
include test/data/an4_ci_cont/noisedict
include test/data/an4_ci_cont/transition_matrices
include test/data/an4_ci_cont/variances
include test/data/cards/001.wav
include test/data/cards/002.wav
include test/data/cards/003.wav
include test/data/cards/004.wav
include test/data/cards/005.wav
include test/data/cards/cards.fileids
include test/data/cards/cards.gram
include test/data/cards/cards.hyp
include test/data/cards/cards.transcription
include test/data/defective.dic
include test/data/defective.gram
include test/data/goforward.fsg
include test/data/goforward.gram
include test/data/goforward.kws
include test/data/goforward.mfc
include test/data/goforward.raw
include test/data/librivox/fileids
include test/data/librivox/make_single_track.py
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0870.lab
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0870.txt
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0870.wav
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0880.lab
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0880.txt
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0880.wav
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0890.lab
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0890.txt
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0890.wav
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0920.lab
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0920.txt
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0920.wav
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0930.lab
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0930.txt
include test/data/librivox/sense_and_sensibility_01_austen_64kb-0930.wav
include test/data/librivox/test-align.matchseg
include test/data/librivox/test-lm.match
include test/data/librivox/transcription
include test/data/mllr_matrices
include test/data/numbers.raw
include test/data/something.raw
include test/data/test.lmctl
include test/data/tidigits/dhd.2934z.raw
include test/data/tidigits/hmm/feat.params
include test/data/tidigits/hmm/mdef
include test/data/tidigits/hmm/means
include test/data/tidigits/hmm/sendump
include test/data/tidigits/hmm/transition_matrices
include test/data/tidigits/hmm/variances
include test/data/tidigits/lm/tidigits.dic
include test/data/tidigits/lm/tidigits.fsg
include test/data/tidigits/lm/tidigits.lm.bin
include test/data/tidigits/man.ah.111a.mfc
include test/data/tidigits/man.ah.1b.mfc
include test/data/tidigits/man.ah.2934za.mfc
include test/data/tidigits/man.ah.35oa.mfc
include test/data/tidigits/man.ah.3oa.mfc
include test/data/tidigits/man.ah.4625a.mfc
include test/data/tidigits/man.ah.588zza.mfc
include test/data/tidigits/man.ah.63a.mfc
include test/data/tidigits/man.ah.6o838a.mfc
include test/data/tidigits/man.ah.75913a.mfc
include test/data/tidigits/man.ah.844o1a.mfc
include test/data/tidigits/man.ah.8b.mfc
include test/data/tidigits/man.ah.9b.mfc
include test/data/tidigits/man.ah.o789a.mfc
include test/data/tidigits/man.ah.z4548a.mfc
include test/data/tidigits/man.ah.zb.mfc
include test/data/tidigits/test-tidigits-fsg.match
include test/data/tidigits/test-tidigits-simple.match
include test/data/tidigits/tidigits.ctl
include test/data/tidigits/tidigits.lsn
include test/data/tidigits/woman.ak.1b.mfc
include test/data/tidigits/woman.ak.276317oa.mfc
include test/data/tidigits/woman.ak.334a.mfc
include test/data/tidigits/woman.ak.3z3z9a.mfc
include test/data/tidigits/woman.ak.48z66zza.mfc
include test/data/tidigits/woman.ak.532a.mfc
include test/data/tidigits/woman.ak.5z874a.mfc
include test/data/tidigits/woman.ak.6728za.mfc
include test/data/tidigits/woman.ak.75a.mfc
include test/data/tidigits/woman.ak.84983a.mfc
include test/data/tidigits/woman.ak.8a.mfc
include test/data/tidigits/woman.ak.99731a.mfc
include test/data/tidigits/woman.ak.o69a.mfc
include test/data/tidigits/woman.ak.ooa.mfc
include test/data/tidigits/woman.ak.za.mfc
include test/data/turtle.dic
include test/data/turtle.lm.bin
include test/data/unreachable.lat
include test/data/vad/leak-test.wav
include test/data/vad/test-audio.raw
include test/regression/CMakeLists.txt
include test/regression/chan3-dither.cepview
include test/regression/chan3-logspec.cepview
include test/regression/chan3-smoothspec.cepview
include test/regression/chan3.2chan.wav
include test/regression/chan3.cepview
include test/regression/chan3.ctl
include test/regression/chan3.f0
include test/regression/chan3.logspec
include test/regression/chan3.mfc
include test/regression/chan3.raw
include test/regression/chan3.sph
include test/regression/chan3.wav
include test/regression/polite.gram
include test/regression/test-align.sh
include test/regression/test-cards.sh
include test/regression/test-cepview.sh
include test/regression/test-lm.sh
include test/regression/test-sphinx_fe-ctl.sh
include test/regression/test-sphinx_fe-dct.sh
include test/regression/test-sphinx_fe-dither-seed.sh
include test/regression/test-sphinx_fe-logspec.sh
include test/regression/test-sphinx_fe-logspec2cep.sh
include test/regression/test-sphinx_fe-smoothspec.sh
include test/regression/test-sphinx_fe.sh
include test/regression/test-sphinx_jsgf2fsg.sh
include test/regression/test-sphinx_pitch.sh
include test/regression/test-tidigits-fsg.sh
include test/regression/test-tidigits-simple.sh
include test/regression/test.command.fsg
include test/regression/test.gram
include test/regression/test.kleene.fsg
include test/regression/test.nestedRightRecursion.fsg
include test/regression/test.nulltest.fsg
include test/regression/test.rightRecursion.fsg
include test/testfuncs.sh.in
include test/testfuncs_cygwin.sh
include test/unit/CMakeLists.txt
include test/unit/test_acmod.c
include test/unit/test_acmod_grow.c
include test/unit/test_alignment.c
include test/unit/test_alloc/CMakeLists.txt
include test/unit/test_alloc/test_ckd_alloc.c
include test/unit/test_alloc/test_ckd_alloc_abort.c
include test/unit/test_alloc/test_ckd_alloc_abort.sh
include test/unit/test_alloc/test_ckd_alloc_catch.c
include test/unit/test_alloc/test_ckd_alloc_fail.c
include test/unit/test_alloc/test_listelem_alloc.c
include test/unit/test_allphone.c
include test/unit/test_bitvec.c
include test/unit/test_case/CMakeLists.txt
include test/unit/test_case/_lcase1.test
include test/unit/test_case/_lcase2.test
include test/unit/test_case/_lcase3.test
include test/unit/test_case/_strcmp1.test
include test/unit/test_case/_strcmp2.test
include test/unit/test_case/_strcmp3.test
include test/unit/test_case/_ucase1.test
include test/unit/test_case/_ucase2.test
include test/unit/test_case/_ucase3.test
include test/unit/test_case/chgCase.c
include test/unit/test_cmdln/CMakeLists.txt
include test/unit/test_cmdln/_test_parse_badargs.res
include test/unit/test_cmdln/_test_parse_badargs.test
include test/unit/test_cmdln/_test_parse_defaults.res
include test/unit/test_cmdln/_test_parse_defaults.test
include test/unit/test_cmdln/_test_parse_defaults_r.res
include test/unit/test_cmdln/_test_parse_defaults_r.test
include test/unit/test_cmdln/_test_parse_goodargs.res
include test/unit/test_cmdln/_test_parse_goodargs.test
include test/unit/test_cmdln/_test_parse_multiple.res
include test/unit/test_cmdln/_test_parse_multiple.test
include test/unit/test_cmdln/cmdln_parse.c
include test/unit/test_cmdln/cmdln_parse_multiple.c
include test/unit/test_cmdln/cmdln_parse_r.c
include test/unit/test_dict.c
include test/unit/test_dict2pid.c
include test/unit/test_endpointer.c
include test/unit/test_fe.c
include test/unit/test_feat/CMakeLists.txt
include test/unit/test_feat/_test_feat.res
include test/unit/test_feat/_test_feat.test
include test/unit/test_feat/test_feat.c
include test/unit/test_feat/test_feat_fe.c
include test/unit/test_feat/test_feat_live.c
include test/unit/test_feat/test_subvq.c
include test/unit/test_fsg/CMakeLists.txt
include test/unit/test_fsg/goforward.fsg
include test/unit/test_fsg/polite.gram
include test/unit/test_fsg/public.gram
include test/unit/test_fsg/test_fsg.c
include test/unit/test_fsg/test_fsg_jsgf.c
include test/unit/test_fsg/test_fsg_read.c
include test/unit/test_fsg/test_fsg_write_fsm.c
include test/unit/test_fwdflat.c
include test/unit/test_fwdtree.c
include test/unit/test_fwdtree_bestpath.c
include test/unit/test_hash/CMakeLists.txt
include test/unit/test_hash/_hash_delete1.res
include test/unit/test_hash/_hash_delete1.test
include test/unit/test_hash/_hash_delete2.res
include test/unit/test_hash/_hash_delete2.test
include test/unit/test_hash/_hash_delete3.res
include test/unit/test_hash/_hash_delete3.test
include test/unit/test_hash/_hash_delete4.res
include test/unit/test_hash/_hash_delete4.test
include test/unit/test_hash/_hash_delete5.res
include test/unit/test_hash/_hash_delete5.test
include test/unit/test_hash/deletehash.c
include test/unit/test_hash/display.res
include test/unit/test_hash/displayhash.c
include test/unit/test_hash/test_hash_iter.c
include test/unit/test_init.c
include test/unit/test_jsgf.c
include test/unit/test_keyphrase.c
include test/unit/test_lattice.c
include test/unit/test_lineiter/CMakeLists.txt
include test/unit/test_lineiter/test.txt
include test/unit/test_lineiter/test_lineiter.c
include test/unit/test_log_int16.c
include test/unit/test_log_int8.c
include test/unit/test_log_shifted.c
include test/unit/test_macros.h.in
include test/unit/test_matrix/CMakeLists.txt
include test/unit/test_matrix/_test_determinant.res
include test/unit/test_matrix/_test_determinant.test
include test/unit/test_matrix/_test_invert.res
include test/unit/test_matrix/_test_invert.test
include test/unit/test_matrix/_test_solve.res
include test/unit/test_matrix/_test_solve.test
include test/unit/test_matrix/test_determinant.c
include test/unit/test_matrix/test_invert.c
include test/unit/test_matrix/test_solve.c
include test/unit/test_mllr.c
include test/unit/test_nbest.c
include test/unit/test_ngram/100.lm.bin
include test/unit/test_ngram/100.lm.bz2
include test/unit/test_ngram/100.lm.dmp
include test/unit/test_ngram/100.lm.gz
include test/unit/test_ngram/100.lmctl
include test/unit/test_ngram/100.probdef
include test/unit/test_ngram/102.lm.dmp
include test/unit/test_ngram/102.lm.gz
include test/unit/test_ngram/104.lm.gz
include test/unit/test_ngram/105.lm.gz
include test/unit/test_ngram/106.lm.gz
include test/unit/test_ngram/107.lm.gz
include test/unit/test_ngram/CMakeLists.txt
include test/unit/test_ngram/test_lm_add.c
include test/unit/test_ngram/test_lm_casefold.c
include test/unit/test_ngram/test_lm_class.c
include test/unit/test_ngram/test_lm_read.c
include test/unit/test_ngram/test_lm_score.c
include test/unit/test_ngram/test_lm_set.c
include test/unit/test_ngram/test_lm_write.c
include test/unit/test_ngram/turtle.lm
include test/unit/test_ngram/turtle.lm.dmp
include test/unit/test_ngram/turtle.ug.lm
include test/unit/test_ngram/turtle.ug.lm.dmp
include test/unit/test_ngram_model_read.c
include test/unit/test_pitch.c
include test/unit/test_posterior.c
include test/unit/test_ps.c
include test/unit/test_ptm_mgau.c
include test/unit/test_reinit.c
include test/unit/test_senfh.c
include test/unit/test_set_search.c
include test/unit/test_simple.c
include test/unit/test_state_align.c
include test/unit/test_string/CMakeLists.txt
include test/unit/test_string/_fread_line.test
include test/unit/test_string/_fread_line.txt
include test/unit/test_string/_nextword.test
include test/unit/test_string/_str2words.test
include test/unit/test_string/_string_join.test
include test/unit/test_string/_string_trim.test
include test/unit/test_string/strtest.c
include test/unit/test_string/test_atof.c
include test/unit/test_util/CMakeLists.txt
include test/unit/test_util/test_bit_encode.c
include test/unit/test_util/test_bitarr.c
include test/unit/test_util/test_build_directory.c
include test/unit/test_util/test_filename.c
include test/unit/test_util/test_fopen.c
include test/unit/test_util/test_heap.c
include test/unit/test_util/test_readfile.c
include test/unit/test_vad.c
include test/word_align.pl
exclude MANIFEST.in
exclude .readthedocs.yml
exclude .travis.yml
exclude .gitignore
recursive-exclude .github *
recursive-exclude _skbuild *
recursive-exclude * .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude * *.DS_Store
recursive-exclude * __pycache__
recursive-exclude * *.so
recursive-exclude * *.egg-info
