Source: pocketsphinx
Priority: optional
Maintainer: David Huggins-Daines <dhuggins@cs.cmu.edu>
Build-Depends: debhelper (>= 4), autotools-dev, libsphinxbase-dev, libgstreamer0.10-dev
Standards-Version: 3.7.2
Section: libs

Package: libpocketsphinx-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libpocketsphinx1 (= ${Source-Version})
Description: Lightweight speech recognition - development files
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains the headers and static libraries for development.

Package: libpocketsphinx1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight speech recognition - library
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains the PocketSphinx shared library.

Package: gstreamer0.10-pocketsphinx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight speech recognition - GStreamer plugin
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains the GStreamer plugin for PocketSphinx.

Package: pocketsphinx-hmm-wsj1
Section: sound
Architecture: all
Depends: pocketsphinx-utils
Description: Lightweight speech recognition - WSJ1 acoustic model
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains the default acoustic model for PocketSphinx.
 It was trained from 180 hours of speech, recorded on a close-talking
 microphone and downsampled to 8kHz.

Package: pocketsphinx-hmm-tidigits
Section: sound
Architecture: all
Depends: pocketsphinx-utils
Description: Lightweight speech recognition - TIDIGITS models
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains an acoustic model and accompanying "language
 model" trained specifically for connected digit recognition.  It was
 trained from the TIDIGITS corpus of spoken digits, recorded on a
 close-talking microphone and downsampled to 8kHz.

Package: pocketsphinx-utils
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, libpocketsphinx1 (= ${Source-Version})
Description: Lightweight speech recognition - command-line tools
 PocketSphinx is a lightweight, cross-platform, speaker-independent,
 large-vocabulary continuous speech recognition engine.
 .
 This package contains command-line utilities for the PocketSphinx
 recognition engine.
